.mapRightSide {
	display: flex;
	flex-direction: column;
	max-height: 95vh;
	overflow-y: scroll;
	background-color: #fff;
	padding: 10px;
}

.shipList {
	margin-top: 10px;
}

.tableHead {
	font-size: 13px;
	width: 100%;
}

.tableBody {
	transform: translateY(10px);
	text-wrap: nowrap;
}

.summary {
	margin-bottom: 5px;
}

.label {
	font-size: 13px;
	margin-left: 15px;
}

