.mapRightSide {
	display: flex;
	flex-direction: column;
	max-height: 95vh;
	overflow-y: scroll;
	background-color: #fff;
	padding: 10px;
}

.shipList {
	margin-top: 15px;
}

.shipItem {
	background-color: white;
}

.newRecord {
	background-color: rgb(214, 137, 137);
}