.item {
	display: grid;
	width: 100%;
	grid-template-columns: 70% auto;
	column-gap: 10px;
	grid-template-rows: auto;
	grid-template-areas:
		"names options"
		"type options";
	font-size: 16px;
	margin-bottom: 3px;
	border-bottom: 1px solid var(--text-extra-light);
	text-wrap: nowrap;
	padding: 2px 15px;
	border-radius: 2px;

	&.newRecord {
		background-color: var(--red-light);
		border-bottom: none;
	}
}

.names {
	grid-area: names;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-weight: 600;
}

.type {
	grid-area: type;
	color: var(--text-secondary);
}

.options {
	grid-area: options;
	display: flex;
	align-items: center;
	justify-content: flex-end;

	.button {
		cursor: pointer;
		background: none;
		line-height: 0;
		transition: all 0.3s ease 0s;

		&:nth-child(2) {
			margin-right: 8px;
			margin-left: 8px;
		}

		&:nth-child(4) {
			margin-left: 8px;
		}

		&:hover {
			transform: translateY(-2px);
		}
	}
}